.style-1-a{
      
  background-color: #008CBA;
  color:white;
  width: 100%;
  
}

.style-1-b{
background-color:transparent;
color:#008CBA;
width: 100%;
}


.style-2-a{
  
background-color: white;
color:#008CBA; 

}

.style-2-b{
background-color:gray;
color:white; 
}

.border1  { 
outline: none;
border-color: #9ecaed;
box-shadow: 0  0   1px #9ecaed;
}

.search-1  { 
height: 30px;margin-bottom: 10px;width: 100%; padding-left: 5px;
}

.item{
height: 50px; padding-top: 10px;padding-bottom: 10px; 
}

.item-1{
border: none; outline: none; width: 100%;
}

.item-2{
border: none; outline: none; width: 100%; padding-top: 2px;padding-bottom: 2px;padding-left: 9px;padding-right:9px; 
}

.item-3{
height: 50px;margin-bottom: 10px;;width: 100%;  padding-left: 5px;
} 

.show {
display: block;
}

.hidden {
display: none;
}